{% extends 'base.html.twig' %}

{% block title %}Acceso denegado{% endblock %}

{% block body %}
{{parent() }}
    <h1>ERROR 400</h1>
    <hr>
    
    <h2>Parece que ha ocurrido un error, solo personal autorizdo puede entrar aqui</h2>
{% endblock %}
