<form method="post" action="{{ path('app_recluso_delete', {'idRecluso': recluso.idRecluso}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recluso.idRecluso) }}">
    <button class="btn">Delete</button>
</form>
