<form method="post" action="{{ path('app_celda_delete', {'idCelda': celda.idCelda}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ celda.idCelda) }}">
    <button class="btn">Delete</button>
</form>
