{% extends 'base.html.twig' %}

{% block title %}Edit Celda{% endblock %}

{% block body %}
{{parent() }}
    <h1>Edit Celda</h1>

    {{ include('celda/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_celda_index') }}">back to list</a>

    {{ include('celda/_delete_form.html.twig') }}
{% endblock %}
